.content{
  width: calc(100vw - 296px);
  height: 100vh;
  position: relative;
}

.header{
  padding: 32px;
  h2{
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
  }

  .more a{
    margin-left:26px;
  }
}

.main{
 padding: 32px;
}

.col-left{
  width: 33%;
  .note{
    span{
      color: $color-primary;
      margin-left: 8px;
    }
  }
  ul{
    font-size:12px;
    line-height: 24px;
    .list-group-item{
      &:hover{
        background-color: $color-secondary;
        color: $color-dark;
      }
    }
    .list-group-item.active{
      background-color: $color-secondary;
      color: $color-dark;
      border: 1px solid rgba(0,0,0,.125);
    }
  }
}

.col-right{
  width: 65%;
  .note{
    font-size:12px;
    line-height: 24px;
    color: $color-light;
    width: 100%;
    text-align: right;
    margin-bottom: 6px;
  }
  .card{
    .card-body{
      padding: 0;
    }
    .card-title{
      width: 100%;
      background-color: $color-secondary;
      color: $color-dark;
      padding: 12px 16px;
      border-bottom: 1px solid rgba(0,0,0,.125);
    }
    ul{
      padding: 12px 16px;
      li{
        margin-bottom: 16px;
      }
    }
    .text{
      font-size:14px;
      line-height: 21px;
      width:90%;
      margin-left: 60px;
      padding: 16px 0;
      border-bottom: 1px solid rgba(0,0,0,.125);
      .btn{
        span{
          padding: 0 4px;
        }
        &:hover{
          color: $color-primary;
        }
      }
    }
    span{
      padding: 0 12px;
    }
    .btn{
      display: block;
      margin-top: 16px;
      background-color: #F8F9FA;
      border: 1px solid rgba(0,0,0,.125);
    }
  }
  .bottom{
    margin-top: 8px;
    .btn{
      border-radius: 0;
      margin-left: 16px;
      padding: 8px 32px;
    }
    .btn-outline-primary{
      color: $color-primary ;
      border-color: $color-primary ;
      &:hover{
         background-color: $color-primary ;
         color: #fff;
      }
    }
    .btn-secondary{
      background-color: $color-primary ;
      border-color: $color-primary ;
      &:hover{
        color: $color-primary;
        background-color: $color-secondary;
      }

    }
    span{
      margin-left: 24px;
    }
  }
}


.state{
  font-size: 12px;
  line-height: 24px;
  color: $color-dark;
}

.des{
  font-size:16px;
  font-weight: 600;
  width: 60%;
  text-overflow : ellipsis;
  white-space:nowrap; //不斷行
  overflow:hidden;//超過顯示範圍隱藏
}
.name{
  color: $color-light;
  font-size: 12px;
}

// 下拉
.dropdown{
    span{
      color: $color-primary;
    }
  }
  .dropdown-toggle{
    &::after{
    display: none;
    }
  }