body{
  font-family: $font-family;
  color:$color-dark;
}

ul{
    padding: 0;
}

li{
  list-style: none;
}

a{
  color: $color-dark;
  text-decoration: none;
  &:hover {
    color: $color-primary;
  }
}

.wrapper{
  overflow: hidden;
}

.left{
  width: 296px;
  height: 100vh;
  padding: 32px;
  background-color: $color-secondary;
  .box{
    height:90%;
  }
}

.menu{
  margin-top: 32px;
  li{
    line-height: 24px;
    margin-bottom: 26px;
    span{
      margin-right: 16px;
    }
    a{
      display: flex;
    }
  }
  .active{
  display: flex;
  color: $color-primary;
  &::before{
    content: "";
    display: block;
    height: 30px;
    width: 4px;
    position: absolute;
    left:0px;
    background: $color-primary;
    pointer-events: none;
  }
}
}

.member{
  img{
    width: 40px;
    clip-path: circle(40%);
    margin-right: 16px;
  }
  .name{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    color: $color-dark;
  }
  .mail{
    font-size: 14px;
    line-height: 24px;
    color: $color-light;
  }
  .time{
    font-size: 12px;
    line-height: 24px;
  }
  .box{
    width: 100%;
  }
}


